.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 6em;
    left: 5.5em;
    width: auto;
}

.icon {
    width: 17%;
    height: auto;
    position: relative;
    display: flex;
    float: left;
}

.nav {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.menu {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

